body{
    background-color: #dfe6e9;
}

h1 {
    text-align: center;
}

#labirinto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixinha {
    width: 30px;
    height: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.linha {
    display: flex;
}

.wall {

    background-color: rgb(27, 90, 90);
    background-image: url('./assets/muromario.png');
    background-size: cover;
}

.caminho {

    background-color: antiquewhite;
    background-image: url('./assets/grama.jpg');
    background-size: contain;
}

.start {

    background-color: red;
    background-image: url('./assets/pipe.png');
    background-size: cover;
}

.finish {

    background-color: blue;
    background-image: url('./assets/pipe.png');
    background-size: cover;
}

.jogador {
    width: 30px;
    height: 30px;
    background-image: url('./assets/mario.gif');
    background-size: contain;
}